@model ItemPedidoModel;

@{
    ViewBag.Subtitulo = "Exclusão de Item de Pedido";
}

<header>
    <h1 class="text-primary">@ViewBag.Subtitulo</h1>
</header>
<hr>
<h4>
    Deseja realmente excluir o item de pedido <span class="text-danger"><b>@Model.Produto.Nome</b></span>?
</h4>

<form asp-action="Excluir" class="w-25">
    <input type="hidden" asp-for="@Model.IdPedido">
    <input type="hidden" asp-for="@Model.IdProduto">
    <div class="mt-3">
        <a asp-action="Index" asp-route-ped="@Model.IdPedido" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>