@model IEnumerable<App.Models.Galeria>

@{
    ViewBag.Titulo = "Galerias de Imagens";
}

@foreach (var g in Model)
{
    if(g.Imagens.Count > 0)
    {
        <h2>@g.Titulo</h2>
        <hr>
        <div class="row g-3">
            @foreach (var i in g.Imagens)
            {
                <div class="col-2">
                    <div class="card">
                        <a href='@($"{i.CaminhoImagem}?width=600&{DateTime.Now.ToShortTimeString()}")' data-lightbox='@i.IdGaleria.ToString("D6")' data-title="@i.Titulo">
                            <img src='@($"{i.CaminhoImagem}?width=200&{DateTime.Now.ToShortTimeString()}")' class="img-responsive p-3" width="100%" />
                        </a>
                    </div>
                </div>
            }
        </div>
        <hr>
    }
}