@model AlterarSenhaViewModel
@{
    ViewBag.Subtitulo = "Alteração de Senha";
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>

<partial name="_MensagemPartial" />

<div asp-validation-summary="ModelOnly" class="val-summary text-danger my-3"></div>

<form asp-action="AlterarSenha" class="row">
    <div class="form-group mb-3 col-4">
        <label asp-for="@Model.SenhaAtual"></label><br>
        <input asp-for="@Model.SenhaAtual" class="form-control" autofocus autocomplete="off">
        <span asp-validation-for="@Model.SenhaAtual" class="text-danger"></span>
    </div>
    <div class="w-100 mt-3"></div>
    <div class="form-group mb-3 col-4">
        <label asp-for="@Model.NovaSenha"></label><br>
        <input asp-for="@Model.NovaSenha" class="form-control" autocomplete="off">
        <span asp-validation-for="@Model.NovaSenha" class="text-danger"></span>
    </div>
    <div class="w-100 mt-3"></div>
    <div class="form-group mb-3 col-4">
        <label asp-for="@Model.ConfNovaSenha"></label><br>
        <input asp-for="@Model.ConfNovaSenha" class="form-control" autocomplete="off">
        <span asp-validation-for="@Model.ConfNovaSenha" class="text-danger"></span>
    </div>
    <div class="w-100></div>
    <div class="mt-3">
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Cancelar</a>
        <button type="Submit" class="btn btn-primary">Alterar</button>
    </div>
</form>