@model IEnumerable<App.Models.Galeria>

@{
    ViewBag.Titulo = "Galerias de Imagens";
}

<a asp-action="Cadastrar" class="btn btn-primary">Nova Galeria</a>
<hr>
@if(Model.Count() > 0)
{
    <table class="table table-striped tabela-galerias">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.IdGaleria)</th>
                <th>@Html.DisplayNameFor(m => m.Titulo)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdGaleria.ToString("D6")</td>
                    <td>@item.Titulo</td>
                    <td>
                        <a asp-action="Index" asp-controller="Imagem" asp-route-id="@item.IdGaleria" class="btn btn-sm btn-primary">
                            <i class="bi bi-images" title="Imagens da Galeria"></i>
                        </a>
                        <a asp-action="Alterar" asp-route-id="@item.IdGaleria" class="btn btn-sm btn-secondary">
                            <i class="bi bi-pencil" title="Alterar Galeria"></i>
                        </a>
                        <a asp-action="Excluir" asp-route-id="@item.IdGaleria" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash" title="Excluir Galeria"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Nenhuma galeria cadastrada.
    </div>
}